body {
  /* background-image: url(..../images/cover-10.jpg); */
  background-color: white;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
background-color: teal;}
h1 {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.container-fluid {
  display: flex;
  flex-direction: row;
  align-content: left;
  justify-content: left;
  margin-top: 10%;
}
#luckyNumber{
    margin-left: 20rem ;
}
#crystals {
  display: flex;
  flex-direction: row;
 margin-top: 1%;
}

#box-1 {
  display: flex;
  flex-direction: column;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 14px;
  color:white;
  margin-left: 6rem;
  margin: 5%;
}
.box-2{
display: flex;
flex-direction: column;
}
@media (min-width: 576px) {
  ...;
}

@media (min-width: 768px) {
  ...;
}

@media (min-width: 992px) {
  ...;
}

@media (min-width: 1200px) {
  ...;
}
